body {
    font-family: sans-serif;
    padding: 20px;
    background: #f0f0f0;
  }
  
  form {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  #resultado {
    
    margin-top: 5px;
    background: #e9ffe9;
    padding: 15px;
    border: 1px solid green;
  }
  .columna{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
  }